/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,tt,var,dl,dt,dd,ol,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit;	font-size:100%; font-family:inherit;	vertical-align:baseline;}
/* remember to define focus styles! */:focus { outline:0;}
body {line-height:1; color:black; background:white;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse:separate; border-spacing:0;}
caption,th,td {text-align:left;	font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after {content:"";}
blockquote,q {quotes: "" "";}
a:link,
a:visited {text-decoration: underline;}
a:hover,
a:active {text-decoration: none;}
/* End Reset */

body { background:#a2a392; text-align:center; font-family:Arial; }
#skipper { position:absolute; left:-100em; }
#page { width:895px; text-align:left; margin:68px auto; background:#fff; }

hr { display:none; }
h1 { font-size:18px; border-bottom:dotted 2px #b5b5b5; width:495px; text-align:center; margin:0 0 0 205px; padding:18px 0 8px; }
h3 { color:#f00; margin:10px 0 0 0; }

#menu { height: 30px; position:absolute; top:125px; padding-left:300px; }
#menu ul { list-style: none; background:#996699; height:20px; width:304px; margin:0; padding:0; }
#menu ul li { display:block; float:left; margin:0 0 0 2px; }
#menu ul li.first { margin:0; }
#menu ul li a { text-indent:-9999px; }
#menu ul li a.foo1 { display:block; width:100px; height:20px; background: url(../images/menu.gif); }
#menu ul li a.foo1:hover { background-position:0 -20px; }
#menu ul li a.foo2 { display:block; width:100px; height:20px; background: url(../images/menu.gif) -103px 0; }
#menu ul li a.foo2:hover { background-position:-103px -20px; }
#menu ul li a.foo3 { display:block; width:100px; height:20px; background: url(../images/menu.gif) -206px 0; }
#menu ul li a.foo3:hover { background-position:-206px -20px; }

.banners { width:940px; position:relative; left: -20px; height:310px; }
.banners div { width:340px; height:310px; float:left; }
.banners div span { display:block; background:url(../images/ab.gif); color:#fff; width:64px; height:58px; position:relative; top:40px; text-indent:-9999px; }
.banners div.left span { float:right;  }
.banners div.right { float:right; }
.banners div.right img { float:right;  }

dl { float:left; width:250px; height:294px; margin:50px 0 20px 0; /*padding:0 10px 0 10px;*/ }
dt { font-size:18px; text-transform:uppercase; margin:0 0 25px 0; text-align:center; }
dd { font-size:11px; }
dl.left { padding:0 10px 0 20px; }
dl.center { width:318px; }
dl.center,
dl.right { padding:0 10px 0 10px; border-left:solid 2px #818181; }

fieldset { width:530px; height:250px; float:right; margin:0 75px 0 0; }
fieldset label { border-right:solid 2px #818181; display:block; float:left; height:47px; width:260px; padding:70px 0 0 70px; }
fieldset div { border-bottom:dotted 2px #b5b5b5; height:115px; }
fieldset div.last { border: none; }
fieldset #subsecuentInvestments { padding:70px 0 0 15px; display:block; float:left; text-transform:lowercase; }
fieldset select { margin:70px 0 0 20px; }

#footer { height:50px; border-top:dotted 2px #b5b5b5; text-align:center; margin:15px 0 0 0;  }
#footer { padding:20px 0 0 0; font-size:10px; }

div.clear { clear:both; }

.instructionsTitle { padding:20px 0 20px 20px; border-top:dotted 2px #b5b5b5; }
.displayInstructions { color:#996699; cursor:pointer; }

#instructions { display:none; margin:10px 0 0 20px; }
#instructions ul { list-style:circle; }